<!doctype html>
<html lang="ko">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>거리기준 측정 페이지</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">원하는 거리에서 버튼을 클릭하세요!!</h3>
                <img src="{{ url_for('video_distance')}}" width="100%">
 
            </div>
        

        </div>
    </div>
     <br/>
    <br/>
    <div  style="text-align : center;" ><a href="{{url_for('getResultDistance')}}"><img src="static/img/stop.png" alt="send_distanceValue" width="200" height="200"></a></div>
</body>
</html>